:root {
    --color-primary: #2e5984;
    --color-primary-light: #82bffc;
    --color-primary-dark: #162b3f;

    --color-grey: #bdbdbd;
    --color-grey-light: #e9e8e8;
    --color-grey-light-2: #d3d3d3;
    --color-grey-light-3: #dcdcdc;
    --color-grey-dark-shadow: #b5b5b5;
    --color-grey-dark: #696969;
    --color-grey-dark-1: #949494;
    --color-grey-dark-2: #333333;

    --color-white: #fff;
    --color-black: #000;

    --color-red: rgb(225, 72, 72);
    --color-red-dark: rgb(159, 57, 57);
}