.recommend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include respond(phone) {
        flex-direction: column;
    }

    &__count {
        font-size: 1.1rem !important;
        color: var(--color-grey-dark) !important;

        @include respond(phone) {
            margin-bottom: 3rem;
        }
    }

    &__friends {}

    &__icon {
        width: 4.5rem;
        height: 4.5rem;
        background-color: var(--color-grey-light);
        border-radius: 50%;
        padding: 0.5rem;
        // border: 4px solid var(--color-grey-light);

        &:not(:last-child) {
            margin-right: -2.2rem;
        }
    }
}