.header {
    height: 7rem;
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-grey-dark);

    display: flex;
    align-items: center;
    // justify-content: space-between;

    padding: 0 5rem;

    @include respond(tab-port) {
        padding: 0 3rem;
    }

    @include respond(phone) {
        border: none !important;
        padding: 0 2rem;
    }
}